<div class="widget-head">
    <div class="pull-left">Social Reach</div>
    <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-down"></i></a>
        <a href="#" class="wclose"><i class="icon-remove"></i></a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="widget-content">
    <div class="padd">

        <div class="form quick-post">
            <!-- Edit profile form (not working)-->
            <form class="form-horizontal">
                <!-- Title -->
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input type="text" class="input-large" id="title">
                    </div>
                </div>
                <!-- Content -->
                <div class="control-group">
                    <label class="control-label" for="content">Content</label>

                    <div class="controls">
                        <textarea class="input-large" id="content"></textarea>
                    </div>
                </div>
                <!-- Cateogry -->
                <div class="control-group">
                    <label class="control-label">Category</label>

                    <div class="controls">
                        <select>
                            <option value="">- Choose Cateogry -</option>
                            <option value="1">General</option>
                            <option value="2">News</option>
                            <option value="3">Media</option>
                            <option value="4">Funny</option>
                        </select>
                    </div>
                </div>
                <!-- Tags -->
                <div class="control-group">
                    <label class="control-label" for="tags">Tags</label>

                    <div class="controls">
                        <input type="text" class="input-large" id="tags">
                    </div>
                </div>

                <!-- Buttons -->
                <div class="form-actions">
                    <!-- Buttons -->
                    <button type="submit" class="btn btn-info">Publish</button>
                    <button type="submit" class="btn">Save Draft</button>
                    <button type="reset" class="btn">Reset</button>
                </div>
            </form>
        </div>


    </div>
</div>

<div class="widget-foot">
    <!-- Footer goes here -->
</div>

