<div class="clear row-fluid list">
	<div ng-show="events.length == 0" class="alert alert-info">{{
		'Event.Text_NoEvent_Msg' | t }}</div>
	<!-- event list -->
	<ul class="thumbnails" ng-show="events.length > 0">
		<li ng-repeat="event in events" class="span3">
			<div class="thumbnail">
				<h4 class="pull-left">{{event.Name}}</h4>
				<div class="btn-group pull-right">
					<button ui-if="Store.IsOwner" class="btn btn-mini btn-success"
						ng-click="update(event)">{{ 'Common.Text_Update' | t }}</button>
					<a ng-href="/#/ticket/{{event.Key}}"
						class="btn btn-mini btn-primary"
						ng-bind="!Store.IsOwner && ('ShoppingCart.labelBuyTickets' | t) || 'Common.Text_TicketMenu_Tickets' | t"></a>
					<button ui-if="Store.IsOwner" ng-click="deleteEvent(event)"
						class="btn btn-mini btn-danger">{{ 'Common.Text_Remove' |
						t }}</button>
				</div>
				<p class="text clear">{{event.Description}}</p>
				<span class="label">Starts on {{ event.StartTime |
					date:'MM/dd/yyyy @ h:mma' }}</span> <span class="label">Ends on {{
					event.EndTime | date:'MM/dd/yyyy @ h:mma' }}</span><br /> <span
					class="label label-inverse">Sales Start on {{
					event.OnSaleDateTimeStart | date:'MM/dd/yyyy @ h:mma' }}</span> <span
					class="label label-inverse">Sales End on {{
					event.OnSaleDateTimeEnd | date:'MM/dd/yyyy @ h:mma' }}</span>
			</div>
		</li>
	</ul>
</div>