<div ng-controller="adminController" ng-cloak>
    <!-- top menu -->
    <div class="navbar navbar-fixed-top navbar-inverse" ng-include src="'views/admin/common/top_menu.html'"></div>
    <div ng-include src="'views/elements/error.html'"></div>
    <!-- admin dashboard
    <div class="row-fluid" style="min-height: 5em"></div>-->
</div>

<div class="content">
    <!-- side menu -->
    <div class="sidebar" ng-include src="'views/admin/common/side_menu.html'"></div>

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">

            <div ng-include src="'views/admin/events/page_content_partials/page_heading.html'"></div>
            <div ng-include src="'views/admin/events/page_content_partials/breadcrumbs.html'"></div>

        </div>
        <!-- Page heading ends -->
        <!-- Matter -->

        <div class="matter" ng-controller="eventController" ng-init="init()">
            <div class="container-fluid"  ui-if="Event">


                <div ng-include src="'views/admin/events/page_content_partials/create_edit_event_modal.html'"></div>

                <!-- create store button -->
                <div class="widget pull-right">
                    <button class="btn btn-info" ng-click="create()">{{
                        'Common.Text_EventMenu_CreateEvent' | t }}
                    </button>

                </div>
                <div class="clearfix"></div>


                    {{ events }}  {{ Event }}


                <div class="clear row-fluid list">

                    <div ng-show="events.length == 0" class="alert alert-info">{{
                        'Event.Text_NoEvent_Msg' | t }}
                    </div>


                    <!-- event list -->
                    <ul class="thumbnails" ng-show="events.length > 0">
                        <li ng-repeat="event in events" class="span3">
                            <div class="thumbnail">
                                <h4 class="pull-left">{{event.Name}}</h4>

                                <div class="btn-group pull-right">
                                    <button ui-if="Store.IsOwner" class="btn btn-mini btn-success"
                                            ng-click="update(event)">{{ 'Common.Text_Update' | t }}
                                    </button>
                                    <a ng-href="/#/ticket/{{event.Key}}"
                                       class="btn btn-mini btn-primary"
                                       ng-bind="!Store.IsOwner && ('ShoppingCart.labelBuyTickets' | t) || 'Common.Text_TicketMenu_Tickets' | t"></a>
                                    <button ui-if="Store.IsOwner" ng-click="deleteEvent(event)"
                                            class="btn btn-mini btn-danger">{{ 'Common.Text_Remove' |
                                        t }}
                                    </button>
                                </div>
                                <p class="text clear">{{event.Description}}</p>
                                <span class="label">Starts on {{ event.StartTime |
                                    date:'MM/dd/yyyy @ h:mma' }}</span> <span class="label">Ends on {{
                                    event.EndTime | date:'MM/dd/yyyy @ h:mma' }}</span><br/> <span
                                                    class="label label-inverse">Sales Start on {{
                                    event.OnSaleDateTimeStart | date:'MM/dd/yyyy @ h:mma' }}</span> <span
                                                    class="label label-inverse">Sales End on {{
                                    event.OnSaleDateTimeEnd | date:'MM/dd/yyyy @ h:mma' }}</span>
                            </div>
                        </li>
                    </ul>




                </div>


            </div>

            <!-- Mainbar ends -->
            <div class="clearfix"></div>
        </div>


    </div>
</div>