<br>
This Document was last modified on October 18th, 2011.
<p></p>
<p>The following describes the terms on which AzureTickets offers
	you access to our services.</p>
<p>
	<strong>Introduction</strong>
</p>
<p>Welcome to AzureTickets. By using the services on the
	AzureTickets websites (AzureTickets.com and other related websites
	where this agreement appears), you are agreeing to the following terms,
	including those available by hyperlink, with AzureTickets Enterprises
	Inc., and the general principles for the websites of our subsidiaries
	and international affiliates. If you have any questions, please refer
	to our Help section.</p>
<p>Before you may become a member of AzureTickets, you must read and
	accept all of the terms and conditions in and linked to this Service
	Agreement and the User Agreement and Privacy Policy. We strongly
	recommend that, as you read this Service Agreement, you also access and
	read the linked information. By accepting this Service Agreement, you
	also agree that your use of some AzureTickets-branded websites or
	websites we operate may be governed by separate user agreements and
	privacy policies. The agreement that applies on any of our domains and
	subdomains is always the agreement that appears in the footer of each
	website.</p>
<p>This Agreement is effective on October 18th, 2011, for current
	users, and upon acceptance for new users.</p>
<p>
	<strong>Using AzureTickets</strong>
</p>
<p>
	While using AzureTickets, you will not:<br>- post content or items
	in an inappropriate category or areas on the sites;<br>- violate
	any laws, third party rights, or our policies such as the <a
		href="http://www.azuretickets.info/legal/prohibited_items"
		target="_blank">Prohibited and Restricted Items</a> policies;<br>-
	use our sites and services if you are not able to form legally binding
	contracts, are under the age of 18, or are temporarily or indefinitely
	suspended from our sites;<br>- fail to deliver items purchased
	from you, unless the buyer fails to meet the posted terms, or you
	cannot authenticate the buyer’s identity;<br>- manipulate the
	price of any item or interfere with other user’s listings;<br>-
	circumvent or manipulate our fee structure, the billing process, or
	fees owed to AzureTickets;<br>- post false, inaccurate,
	misleading, defamatory, or libellous content (including personal
	information);<br>- transfer your AzureTickets account and User ID
	to another party without our consent;<br>- distribute or post
	spam, chain letters, or pyramid schemes;<br>- distribute viruses
	or any other technologies that may harm AzureTickets, or the interests
	or property of AzureTickets users;<br>- copy, modify, or
	distribute content from the sites and AzureTickets’s copyrights and
	trademarks; or<br>- harvest or otherwise collect information about
	users, including email addresses, without their consent.
</p>
<p>
	<strong>Abusing AzureTickets</strong>
</p>
<p>AzureTickets and the Community work together to keep the sites
	working properly and the Community safe. Please report problems,
	offensive content, and policy violations to us.</p>
<p>
	AzureTickets’s Verified Rights Owner (VeRO) program works to ensure
	that listed items do not infringe upon the copyright, trademark or
	other rights of third parties. If you believe that your rights have
	been violated, please notify our VeRO team through our <a
		href="http://www.azuretickets.info/legal/vero" target="_blank">Verified
		Rights Owner (VeRO) Program</a> and we will investigate.
</p>
<p>Without limiting other remedies, we may limit, suspend, or
	terminate our service and user accounts, prohibit access to our
	website, delay or remove hosted content, and take technical and legal
	steps to keep users off the sites if we think that they are creating
	problems, possible legal liabilities, or acting inconsistently with the
	letter or spirit of our policies. We also reserve the right to cancel
	unconfirmed accounts or accounts that have been inactive for a long
	time.</p>
<p>
	<strong>Fees and Services</strong>
</p>
<p>
	Joining AzureTickets and purchasing listed items is free. We do charge
	fees for using other services, such as selling items. Before you sell
	an item or service, you have an opportunity to review and accept the
	fees that you will be charged based on our <a
		href="http://www.azuretickets.info/legal/fees" target="_blank">Fees
		schedule</a>, which we may change from time to time. We may choose to
	temporarily change the fees for our services for promotional events
	(for example, free transaction days) or new services, and such changes
	are effective when we post the temporary promotional event or new
	service on the site.
</p>
<p>
	Unless otherwise stated, all fees are quoted in Canadian Dollars. You
	are responsible for paying all fees and applicable taxes associated
	with our sites and services in a timely manner with a valid payment
	method. If your payment method fails or your account is past due, we
	may collect fees owed using other collection mechanisms. (This includes
	retaining collection agencies and legal counsel for accounts over 180
	days past due).<br> <strong></strong>
</p>
<p>
	<strong>Content</strong>
</p>
<p>When you give us content, you grant us a non-exclusive,
	worldwide, perpetual, irrevocable, royalty-free, sublicensable (through
	multiple tiers) right to exercise the copyright, publicity, and
	database rights (but no other rights) you have in the content, in any
	media known now or in the future.</p>
<p>For the convenience of sellers, we may offer catalogs of stock
	images, descriptions and product specifications, which are provided by
	third-parties. While we try to offer reliable data, we cannot promise
	that the catalogs will always be accurate and up-to-date. If you choose
	to include catalog content in your items, you will be responsible for
	ensuring that your items are accurate and do not include misleading
	information. You agree that you will not hold our catalog providers
	responsible for inaccuracies in their catalogs. The catalogs may
	include copyrighted, trademarked or other proprietary materials. You
	may use the catalogs only for informational purposes and only in
	connection with your AzureTickets store. You may not use catalog
	content in a way that infringes or violates anyone’s proprietary
	rights.</p>
<p>
	<strong>Liability</strong>
</p>
<p>You will not hold AzureTickets responsible for other users’
	content, actions or inactions, or items they list. The AzureTickets
	service is a venue to allow anyone to offer, sell, and buy just about
	anything, at anytime, from anywhere, in a variety of pricing formats
	and venues, such as stores and fixed price formats. We are not involved
	in the actual transaction between buyers and sellers. We have no
	control over and do not guarantee the quality, safety or legality of
	items advertised, the truth or accuracy of users’ content or listings,
	the ability of sellers to sell items, the ability of buyers to pay for
	items, or that a buyer or seller will actually complete a transaction.</p>
<p>We cannot guarantee continuous or secure access to our services,
	and operation of the sites may be interfered with by numerous factors
	outside of our control. Accordingly, to the extent legally permitted,
	we exclude all implied warranties, terms and conditions. We are not
	liable for any loss of money, goodwill, or reputation, or any special,
	indirect, or consequential damages arising out of your use of our
	sites. Some jurisdictions do not allow the disclaimer of warranties or
	exclusion of damages, so such disclaimers and exclusions may not apply
	to you.</p>
<p>Regardless of the previous paragraph, if we are found to be
	liable, our liability to you or to any third party is limited to the
	greater of (a) the total fees you paid to us in the 6 months prior to
	the action giving rise to the liability, and (b) C$150.</p>
<p>
	<strong>Release</strong>
</p>
<p>If you have a dispute with one or more users, you release us (and
	our officers, directors, agents, subsidiaries, joint ventures and
	employees) from claims, demands and damages (actual and consequential)
	of every kind and nature, known and unknown, arising out of or in any
	way connected with such disputes.</p>
<p>
	<strong>Access and Interference</strong>
</p>
<p>Our sites may contain robot exclusion headers. Much of the
	information on the sites is updated on a real-time basis and is
	proprietary or is licensed to AzureTickets by our users or third
	parties. You agree that you will not use any robot, spider, scraper or
	other automated means to access the sites for any purpose without our
	express written permission.</p>
<p>Additionally, you agree that you will not:</p>
<p>
	- take any action that imposes or may impose (in our sole discretion)
	an unreasonable or disproportionately large load on our infrastructure;<br>-
	copy, reproduce, modify, create derivative works from, distribute, or
	publicly display any content (except for Your Information) from the
	sites without the prior expressed written permission of AzureTickets
	and the appropriate third party, as applicable;<br>- interfere or
	attempt to interfere with the proper working of the sites or any
	activities conducted on the sites; or<br>- bypass our robot
	exclusion headers or other measures we may use to prevent or restrict
	access to the sites.
</p>
<p>
	<strong>Privacy</strong>
</p>
<p>
	We do not sell or rent your personal information to third parties for
	their marketing purposes without your explicit consent. We use your
	information only as described in the <a
		href="http://www.azuretickets.info/legal/privacy_policy"
		target="_blank">AzureTickets Privacy Policy</a>. We view protection of
	users’ privacy as a very important community principle. We store and
	process your information on computers located in Canada and the United
	States that are protected by physical as well as technological security
	devices. You can access and modify the information you provide us and
	choose not to receive certain communications by signing-in to your
	account. We use third parties to verify and certify our privacy
	principles. For a complete description of how we use and protect your
	personal information, see the <a
		href="http://www.azuretickets.info/legal/privacy_policy"
		target="_blank">AzureTickets Privacy Policy</a>. If you object to your
	Information being transferred or used in this way please do not use our
	services.
</p>
<p>
	<strong>Indemnity</strong>
</p>
<p>You will indemnify and hold us (and our officers, directors,
	agents, subsidiaries, joint ventures and employees), harmless from any
	claim or demand, including reasonable attorneys’ fees, made by any
	third party due to or arising out of your breach of this Agreement, or
	your violation of any law or the rights of a third party.</p>
<p>
	<strong>No Agency</strong>
</p>
<p>No agency, partnership, joint venture, employee-employer or
	franchiser-franchisee relationship is intended or created by this
	Agreement.</p>
<p>
	<strong>Notices</strong>
</p>
<p>Except as explicitly stated otherwise, any notices shall be given
	by registered mail to AzureTickets Enterprises Inc., Attn: Legal
	Department 3864 Angus Drive, West Kelowna, BC, V4T2J8, Canada (in the
	case of AzureTickets) or to the email address you provide to
	AzureTickets during the registration process (in your case). Notice
	shall be deemed given 24 hours after email is sent, unless the sending
	party is notified that the email address is invalid. Alternatively, we
	may give you notice by certified mail, postage prepaid and return
	receipt requested, to the address provided to AzureTickets during the
	registration process. In such case, notice shall be deemed given 3 days
	after the date of mailing.</p>
<p>
	<strong>Resolution of Disputes</strong>
</p>
<p>If a dispute arises between you and AzureTickets, our goal is to
	provide you with a neutral and cost effective means of resolving the
	dispute quickly. Accordingly, you and AzureTickets agree that we will
	resolve any claim or controversy at law or equity that arises out of
	this Agreement or our services (a “Claim”) in accordance with one of
	the subsections below or as we and you otherwise agree in writing.
	Before resorting to these alternatives, we strongly encourage you to
	first contact us directly to seek a resolution by contacting us. We
	will consider reasonable requests to resolve the dispute through
	alternative dispute resolution procedures, such as mediation or
	arbitration, as alternatives to litigation.</p>
<p>
	<strong>Law and Forum for Disputes</strong> – This Agreement shall be
	governed in all respects by the laws of the Province of British
	Columbia and the federal laws of Canada applicable therein. You agree
	that any claim or dispute you may have against AzureTickets must be
	resolved by a court located in West Kelowna, British Columbia, except
	as otherwise agreed by the parties or as described in the Arbitration
	Option paragraph below. You agree to submit to the personal
	jurisdiction of the courts located within West Kelowna, British
	Columbia for the purpose of litigating all such claims or disputes.
</p>
<p>
	<strong>Arbitration Option</strong> – For any claim (excluding claims
	for injunctive or other equitable relief) where the total amount of the
	award sought is less than C$15,000, the party requesting relief may
	elect to resolve the dispute in a cost effective manner through binding
	non-appearance-based arbitration. In the event that a party elects
	arbitration, they shall initiate such arbitration through an
	established alternative dispute resolution (“ADR”) provider mutually
	agreed upon by the parties. The ADR provider and the parties must
	comply with the following rules: a) the arbitration shall be conducted
	by telephone, online and/or be solely based on written submissions, the
	specific manner shall be chosen by the party initiating the
	arbitration; b) the arbitration shall not involve any personal
	appearance by the parties or witnesses unless otherwise mutually agreed
	by the parties; and c) any judgment on the award rendered by the
	arbitrator may be entered in any court of competent jurisdiction.
</p>
<p>
	<strong>Improperly Filed Claims</strong> – All claims you bring against
	AzureTickets must be resolved in accordance with this Resolution of
	Disputes section. All claims filed or brought contrary to the
	Resolution of Disputes section shall be considered improperly filed.
	Should you file a claim contrary to the Resolution of Disputes Section,
	AzureTickets may recover attorneys’ fees and costs up to C$1,500,
	provided that AzureTickets has notified you in writing of the
	improperly filed claim, and you have failed to promptly withdraw the
	claim.
</p>
<p>
	<strong>Additional Terms</strong>
</p>
<p>The following policies are part of this Agreement and provide
	additional terms and conditions related to specific services offered on
	the sites:</p>
<p>
	<strong>Outage Policy</strong> – <a
		href="http://www.azuretickets.info/legal/outage_policy"
		target="_blank">http://www.azuretickets.info/legal/outage_policy</a><br>
	<strong>Prohibited, Questionable &amp; Infringing Item Policy</strong>
	– <a href="http://www.azuretickets.info/legal/prohibited_items"
		target="_blank">http://www.azuretickets.info/legal/prohibited_items</a><br>
	<strong>Listing Rules</strong> – <a
		href="http://www.azuretickets.info/legal/rules_for_listings"
		target="_blank">http://www.azuretickets.info/legal/rules_for_listings</a>
</p>
<p>Each of these policies may be changed from time to time. Changes
	take effect when we post them on the AzureTickets site. When using
	particular services on our sites, you are subject to any posted
	policies or rules applicable to services you use through the sites,
	which may be posted from time to time. All such policies or rules are
	hereby incorporated into this Agreement.</p>
<p>
	<strong>General</strong>
</p>
<p>
	AzureTickets Enterprises Inc. is located at 3864 Angus Drive, West
	Kelowna, BC, V4T2J8, Canada, <span
		class="skype_pnh_print_container_1355803657">416-900-3856</span><span
		class="skype_pnh_container" dir="ltr" tabindex="-1"
		onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)"
		onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(event)"
		skype_menu_props="{'numberToCall':'+14169003856' , 'isFreecall':false, 'isMobile':false, 'isRtl':false}"><span
		class="skype_pnh_mark"> begin_of_the_skype_highlighting</span>&nbsp;<span
		class="skype_pnh_highlighting_inactive_common" dir="ltr"
		skypeaction="skype_dropdown"><span
			class="skype_pnh_textarea_span"><img
				class="skype_pnh_logo_img"
				src="chrome-extension://lifbcibllhkdhoafpjfnlhfpfgnpldfl/numbers_button_skype_logo.png"><span
				class="skype_pnh_text_span">416-900-3856</span><span
				class="skype_pnh_free_text_span"> FREE&nbsp; </span></span></span><span
		class="skype_pnh_mark">end_of_the_skype_highlighting</span></span>. If any
	provision of this Agreement is held to be invalid or unenforceable,
	such provision shall be struck and the remaining provisions shall be
	enforced. In our sole discretion, we may assign this Agreement in
	accordance with the Notices section. Headings are for reference
	purposes only and do not limit the scope or extent of such section. Our
	failure to act with respect to a breach by you or others does not waive
	our right to act with respect to subsequent or similar breaches. We do
	not guarantee we will take action against all breaches of this
	Agreement.
</p>
<p>
	We may amend this Agreement at any time by posting the amended terms on
	this site. Except as stated elsewhere, all amended terms shall
	automatically be effective 30 days after they are initially posted.
	This Agreement may not be otherwise amended except in a writing signed
	by you and us. This Agreement sets forth the entire understanding and
	agreement between us with respect to the subject matter hereof. The
	following sections survive any termination of this Agreement: Fees and
	Services (with respect to fees owed for our services), Release, Content
	License, Liability, Indemnity and Resolution of Disputes.<br>
</p>