<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--This file was converted to xhtml by LibreOffice - see http://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.-->
<head profile="http://dublincore.org/documents/dcmi-terms/">
<meta http-equiv="Content-Type"
	content="application/xhtml+xml; charset=utf-8" />
<title xml:lang="en-US">- no title specified</title>
<meta name="DCTERMS.title" content="" xml:lang="en-US" />
<meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646" />
<meta name="DCTERMS.source"
	content="http://xml.openoffice.org/odf2xhtml" />
<meta name="DCTERMS.creator" content="Jason" />
<meta name="DCTERMS.issued" content="2013-02-25T15:01:00"
	scheme="DCTERMS.W3CDTF" />
<meta name="DCTERMS.contributor" content="Jason" />
<meta name="DCTERMS.modified" content="2013-02-25T15:06:00"
	scheme="DCTERMS.W3CDTF" />
<meta name="DCTERMS.provenance" content="" xml:lang="en-US" />
<meta name="DCTERMS.subject" content="," xml:lang="en-US" />
<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"
	hreflang="en" />
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"
	hreflang="en" />
<link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/"
	hreflang="en" />
<link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en" />
<style type="text/css">
@page {
	
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show
}

td,th {
	vertical-align: top;
	font-size: 12pt;
}

h1,h2,h3,h4,h5,h6 {
	clear: both
}

ol,ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}

<!--
"
li span.odfLiEnd "  - IE  7 issue-->li span . {
	clear: both;
	line-height: 0;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}

span.footnodeNumber {
	padding-right: 1em;
}

span.annotation_style_by_filter {
	font-size: 95%;
	font-family: Arial;
	background-color: #fff000;
	margin: 0;
	border: 0;
	padding: 0;
}

* {
	margin: 0;
}

.P1 {
	font-size: 11pt;
	line-height: 100%;
	margin-bottom: 0.0193in;
	margin-top: 0.0193in;
	font-family: Calibri;
	writing-mode: lr-tb;
}

.P2 {
	font-size: 11pt;
	line-height: 100%;
	margin-bottom: 0.0193in;
	margin-top: 0.0193in;
	font-family: Calibri;
	writing-mode: lr-tb;
}

.P3 {
	font-size: 11pt;
	line-height: 100%;
	margin-bottom: 0.0193in;
	margin-top: 0.0193in;
	font-family: Calibri;
	writing-mode: lr-tb;
}

.Standard {
	font-size: 11pt;
	line-height: 115%;
	margin-bottom: 0.139in;
	margin-top: 0in;
	font-family: Calibri;
	writing-mode: lr-tb;
}

.ListLabel_20_1 {
	font-size: 10pt;
}

.T1 {
	font-family: Times New Roman;
	font-size: 24pt;
	font-weight: bold;
}

.T2 {
	font-family: Times New Roman;
	font-size: 12pt;
}
<!--
ODF
 
styles
 
with
 
no
 
properties
 
representable
 
as
 
CSS
 
-->
{
}
</style>
</head>
<body dir="ltr"
	style="max-width: 8.5in; margin-top: 1in; margin-bottom: 1in; margin-left: 1in; margin-right: 1in; writing-mode: lr-tb;">
	<p class="P3">
		<span class="T1">Bet</span><a name="_GoBack" /><span class="T1">a
			Testing Terms and Conditions of Use</span>
	</p>
	<p class="P1">
		<span class="T2">AzureTickets provides this site as a service
			to beta testers using AzureTickets beta products or its beta web
			sites with the desire that it enriches your beta testing experience.
			In addition to AzureTickets’s General Terms and Conditions of Use, by
			using this site or participating in the beta testing of any
			AzureTickets beta products or its beta websites, you agree to the
			following:</span>
	</p>
	<ol>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">1.</span><span
					class="T2">You may not post any material in violation of
					copyright, trademark, or other applicable laws.</span><span
					class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">2.</span><span
					class="T2">You may not post any material that could be
					construed as violating any personal privacy laws.</span><span
					class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">3.</span><span
					class="T2">You may not post any computer virus or Trojan
					horse code, in whole or in part for any reason.</span><span
					class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">4.</span><span
					class="T2">You may not post any company product codes or
					passwords.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">5.</span><span
					class="T2">You may not post any advertisements or links to
					products outside of AzureTickets unless approved by a message board
					moderator or administrator.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">6.</span><span
					class="T2">Files or other information on our site may be
					subject to limitations on usage, reproduction, or dissemination.
					You are responsible for adhering to these limitations if you
					download them.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">7.</span><span
					class="T2">We expect courtesy to other AzureTickets beta
					testers. Here are some suggestions: </span><span class="odfLiEnd" /> 
			</p>
			<ul>
				<li><p class="P2" style="margin-left: 0cm;">
						<span class="ListLabel_20_1"
							style="display: block; float: left; min-width: 0.635cm;">oo</span><span
							class="T2">Avoid flame wars. Do not engage in personal
							attacks, and try to resist provocation.</span><span class="odfLiEnd" /> 
					</p></li>
				<li><p class="P2" style="margin-left: 0cm;">
						<span class="ListLabel_20_1"
							style="display: block; float: left; min-width: 0.635cm;">oo</span><span
							class="T2">Refrain from using racial, ethnic, sexual, or
							religious slurs, profanity or sexually explicit language.</span><span
							class="odfLiEnd" /> 
					</p></li>
				<li><p class="P2" style="margin-left: 0cm;">
						<span class="ListLabel_20_1"
							style="display: block; float: left; min-width: 0.635cm;">oo</span><span
							class="T2">Do not disrupt any other beta tester’s use of
							this site.</span><span class="odfLiEnd" /> 
					</p></li>
				<li><p class="P2" style="margin-left: 0cm;">
						<span class="ListLabel_20_1"
							style="display: block; float: left; min-width: 0.635cm;">oo</span><span
							class="T2">Try to keep your discussions limited to
							technical discussions about the product.</span><span class="odfLiEnd" /> 
					</p></li>
				<li><p class="P2" style="margin-left: 0cm;">
						<span class="ListLabel_20_1"
							style="display: block; float: left; min-width: 0.635cm;">oo</span><span
							class="T2">Define your problem or suggestion clearly.
							Avoid simply complaining about the product in general terms. This
							message board is intended to create a community of discussion and
							to help you, other beta testers, and developers.</span><span
							class="odfLiEnd" /> 
					</p></li>
				<li><p class="P2" style="margin-left: 0cm;">
						<span class="ListLabel_20_1"
							style="display: block; float: left; min-width: 0.635cm;">oo</span><span
							class="T2">Do not send spam.</span><span class="odfLiEnd" /> 
					</p></li>
			</ul></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">8.</span><span
					class="T2">If you have a customer service issue, such as
					refunds, payments, etc., please contact us.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">9.</span><span
					class="T2">Only beta software is supported here. If you are
					experiencing a problem with other AzureTickets software, please
					contact us.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">10.</span><span
					class="T2">Your participation in these discussion forums,
					and anything else you publish through this service, are subject to
					review, modification, and deletion without notice and at the sole
					discretion of AzureTickets and its designates. The option not to
					modify or delete existing posts does not constitute an endorsement
					of its contents by AzureTickets.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">11.</span><span
					class="T2">You must be over 13 years of age to register as a
					user or participate in the AzureTickets beta site.</span><span
					class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">12.</span><span
					class="T2">You acknowledge that, in the course of using and
					accessing the service, you may obtain or develop information
					relating to the site, the beta products, the beta websites and/or
					to AzureTickets ("Confidential Information"), including, but not
					limited to the site, beta products, beta websites, technology,
					algorithms, schematics, testing procedures, user </span><span class="T2">interface,
					documentation, problem reports, analysis and performance
					information, inventions (whether patentable or not), and other
					technical, business, product, marketing, financial and customer
					information, plans and data. During and after the term of this
					Agreement, you shall hold in confidence and protect, and shall not
					use (except as expressly authorized by this agreement) or disclose,
					Confidential Information, unless such Confidential Information
					becomes part of the public domain without breach of this agreement
					by you. You shall not, without the prior written consent of
					Company, disclose or otherwise make available the site, beta
					products, beta websites, documentation or other supporting
					materials, including any information relating to the performance or
					operation of the site (including any testing results, opinions,
					benchmarking or other evaluation conclusions), or copies thereof to
					any third party. You acknowledge and agree that due to the unique
					nature of AzureTickets’s Confidential Information, there can be no
					adequate remedy at law for any breach of your obligations
					hereunder, that any such breach may allow you or third parties to
					unfairly compete with AzureTickets resulting in irreparable harm to
					AzureTickets, and therefore, that upon any such breach or threat
					thereof, AzureTickets shall be entitled to injunctions and other
					appropriate equitable relief in addition to whatever remedies it
					may have at law.</span><span class="odfLiEnd" /> 
			</p></li>
		<li><p class="P2" style="margin-left: 0cm;">
				<span style="display: block; float: left; min-width: 0.635cm;">13.</span><span
					class="T2">You agree that AzureTickets and its licensors,
					distributors, contractors and agents shall have no liability
					whatsoever for any use you make of the site, the beta products or
					beta websites. To the maximum extent permitted by applicable law,
					you hereby release, and waive all claims against, AzureTickets and
					its licensors, suppliers, employees and agents from any and all
					liability for claims, damages (actual and consequential), costs and
					expenses (including litigation costs and attorneys’ fees) of every
					kind and nature, arising out of or in any way connected with use of
					the site, the beta products or beta websites.</span><span class="odfLiEnd" /> 
			</p></li>
	</ol>
	<p class="P1">
		<span class="T2">We reserve the right to change our beta
			testing policies at any time without notice.</span>
	</p>
	<p class="Standard"> </p>
</body>
</html>
