<div ng-hide="DomainProfile.Key || false" class="clearfix">
	<div class="alert alert-error" ng-show="loginErr || false">{{loginErr}}</div>
	<h4>{{ 'Login.Page_Title' | t }}</h4>
	<!-- provider login -->
	<div class="row-fluid" ng-init="loadAuthProviders()">
		<div class="span6">
			<p>{{ 'Login.Page_Desc' | t }}</p>
			<div class="btn-group">
				<a ng-repeat="provider in authProviders" class="btn btn-small"
					ng-click="login(provider)">{{ provider }}</a>
			</div>
		</div>
		<div class="span6">
			<!-- membership login -->
			<p>{{ 'Login.labelDialogTitle' | t }}</p>
			<form name="atAccountLogon" ng-submit="login()">
				<dl>
					<dd>
						<atfield ng-required="true" class="input-xlarge"
							ng-model="AccountProfile.Email" label="'Login.labelEmail' | t" />
					</dd>
					<dd>
						<atfield ng-required="true" class="input-xlarge"
							ng-model="AccountProfile.Password"
							label="'Login.labelPassword' | t" />
					</dd>
					<dd>
						<button type="submit" class="btn btn-primary clear">{{
							'Login.labelLogin' | t }}</button>
					</dd>
				</dl>
			</form>
			<!-- membership register -->
			<p>{{ 'Login.labelNewMemberRegister' | t }}</p>
			<div class="alert alert-success" ng-show="registerOk">{{'Common.Text_RegisterMsg'
				| t}}</div>
			<div class="alert alert-error" ng-show="registerErr || false">{{registerErr}}</div>
			<form name="atAccountRegister" ng-submit="register()">
				<dl>
					<dd>
						<atfield ng-required="true" class="input-xlarge"
							at-copy="AccountProfile"
							ng-model="RegisterAccountProfile.FullName"
							label="'Login.labelFullname' | t" />
					</dd>
					<dd>
						<atfield ng-required="true" class="input-xlarge"
							at-copy="AccountProfile" ng-model="RegisterAccountProfile.Email"
							label="'Login.labelEmail' | t" />
					</dd>
					<dd>
						<atfield ng-required="true" class="input-xlarge"
							at-copy="AccountProfile"
							ng-model="RegisterAccountProfile.Password"
							label="'Login.labelPassword' | t" />
					</dd>
					<dd>
						<div class="alert alert-error" ng-hide="passwdOk">{{
							'Login.labelConfirmPasswordFail' | t}}</div>
						<atfield ng-required="true" class="input-xlarge"
							at-copy="AccountProfile"
							ng-model="RegisterAccountProfile.ConfirmPassword"
							label="'Login.labelConfirmPassword' | t"
							ng-change="validatePasswords()" />
					</dd>
					<dd>
						<button ng-disabled="!passwdOk" type="submit"
							class="btn btn-primary clear">{{
							'Login.labelRegisterNow' | t }}</button>
					</dd>
				</dl>
			</form>
		</div>
	</div>
</div>