<div class="navbar">
	<div class="navbar-inner">
		<a class="brand"
			ng-href="#/{{ Store && !Store.IsOwner && 'store/' + Store.StoreURIs[0].URI || '' }}">{{config.appName}}</a>
		<ul class="nav" ng-show="DomainProfile && DomainProfile.Key || false">
			<li class="dropdown" ui-route="#/store(?:\/[\w\d\-]+)?"
				ng-class="{active: $uiRoute}"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#"> {{ 'Common.Text_Store' | t }} <span
					ui-if="Store && Store.Name || false">: {{Store.Name}}</span> <b
					class="caret"></b>
			</a>
				<ul class="dropdown-menu">
					<li ui-if="Store && !Store.IsOwner"><a href="#/store"
						ng-click="createStore()">{{ 'Common.Text_CreateStore' | t }}</a></li>
					<li ui-if="Store && !Store.IsOwner && stores && stores.length > 0"
						class="divider"></li>
					<li ng-repeat="s in stores"><a ui-if="!s.IsOwner"
						ng-href="#/store/{{ s.StoreURIs[0].URI }}">{{s.Name}}</a><a
						ui-if="s.IsOwner" ng-click="setStoreKey(s.Key)" href="#/store">{{s.Name}}</a></li>
				</ul></li>
			<li ui-if="Store && Store.Key != null && Store.IsOwner || false"
				ui-route="#/venue" ng-class="{active: $uiRoute}"><a
				href="#/venue">{{ 'Common.Text_VenueMenu_Venue' | t }}</a></li>
			<li
				ui-if="Store && Store.Key != null && Store.IsOwner && venues && venues.length > 0 || false"
				ui-route="#/(event|ticket).*" ng-class="{active: $uiRoute}"><a
				href="#/event">{{ 'Common.Text_EventMenu_Events' | t }}</a></li>
			<!-- 			<li ui-if="events && events.length > 0 || false" -->
			<!-- 				ui-route="#/admin/scanner" ng-class="{active: $uiRoute}"><a -->
			<!-- 				href="#/admin/scanner">{{ 'Common.Text_ScannerMenu_Scanner' | t -->
			<!-- 					}}</a></li> -->
			<li
				ui-if="Store && Store.Key != null && Store.IsOwner && events && events.length > 0 || false"
				ui-route="#/order" ng-class="{active: $uiRoute}"><a
				href="#/order">{{ 'Common.Text_OrdersMenu_Orders' | t }}</a></li>
		</ul>
		<div class="pull-right">
			<a href="#/auth/logoff"
				ng-show="DomainProfile && DomainProfile.Key || false" class="btn">{{
				'Login.labelLogOff' | t }}</a> <a href="#/auth/login"
				ng-hide="DomainProfile && DomainProfile.Key || false" class="btn">{{
				'Login.labelLogin' | t }}</a>
		</div>
	</div>
</div>