<!--<div class="content">-->
    <!--<div class="mainbar">-->
    <!--<div class="matter">-->
    <!--<div class="container-fluid">-->
	<!--<div ng-hide="DomainProfile.Key || false" class="clearfix">-->
		<!--<div class="alert alert-error" ng-show="loginErr || false">{{loginErr}}</div>-->
		<!--<h4>{{ 'Login.Page_Title' | t }}</h4>-->
		<!--&lt;!&ndash; provider login &ndash;&gt;-->
		<!--<div class="row-fluid" ng-init="loadAuthProviders()">-->
			<!--<div class="span6">-->
				<!--<p>{{ 'Login.Page_Desc' | t }}</p>-->
				<!--<ul class="socialicons color">-->
					<!--<li ng-repeat="provider in authProviders"><a-->
						<!--ng-class="provider | lowercase" ng-click="login(provider)">{{ provider }}</a></li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
<!--</div>-->

<!-- Form area -->
<div class="admin-form">
    <div class="container-fluid">

        <div class="row-fluid">
            <div class="span12">
                <!-- Widget starts -->
                <div class="widget worange">
                    <!-- Widget head -->
                    <div class="widget-head">
                        <i class="icon-lock"></i> {{ 'Login.Page_Title' | t }}
                    </div>

                    <div class="widget-content">
                        <div class="padd">
                            <div class="alert alert-error" ng-show="loginErr || false">{{loginErr}}</div>
                            <!-- Login form -->



                            <!-- TEMPORARY:  TODO - use *only* login form -->
                            <div class="row-fluid" ng-init="loadAuthProviders()">

                            <p>{{ 'Login.Page_Desc' | t }}</p>
                            <ul class="socialicons color">
                            <li ng-repeat="provider in authProviders"><a
                            ng-class="provider | lowercase" ng-click="login(provider)">{{ provider }}</a></li>
                            </ul>

                            </div>
                            <!--<form class="form-horizontal">-->
                                <!--&lt;!&ndash; Email &ndash;&gt;-->
                                <!--<div class="control-group">-->
                                    <!--<label class="control-label" for="inputEmail">Email</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input type="text" id="inputEmail" placeholder="Email">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Password &ndash;&gt;-->
                                <!--<div class="control-group">-->
                                    <!--<label class="control-label" for="inputPassword">Password</label>-->
                                    <!--<div class="controls">-->
                                        <!--<input type="password" id="inputPassword" placeholder="Password">-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--&lt;!&ndash; Remember me checkbox and sign in button &ndash;&gt;-->
                                <!--<div class="control-group">-->
                                    <!--<div class="controls">-->
                                        <!--<label class="checkbox">-->
                                            <!--<input type="checkbox"> Remember me-->
                                        <!--</label>-->
                                        <!--<br>-->
                                        <!--<button type="submit" class="btn btn-danger">Sign in</button>-->
                                        <!--<button type="reset" class="btn">Reset</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->

                        </div>
                    </div>
                    <div class="widget-foot">
                        Not Registred? <a href="#">Register here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
