<!-- Sidebar -->

    <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

    <div class="sidebar-inner">



        <!-- Search form -->
        <!--<div class="sidebar-widget">-->
            <!--<form class="form-inline">-->
                <!--<div class="input-append row-fluid">-->
                    <!--<input type="text" class="span8" placeholder="Search">-->
                    <!--<button type="submit" class="btn btn-info">Search</button>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->

        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_submenu" to "li" of main navigation. -->
        <ul class="navi">

            <!-- Use the class nred, ngreen, nblue, nlightblue, nviolet or norange to add background color. You need to use this in <li> tag. -->

            <li class="nred"><a href="#/"><i class="icon-dashboard"></i> Dashboard</a></li>

            <!-- Menu with sub menu -->
            <li class="nlightblue"><a ng-href="#/stores"><i class="icon-money"></i> Stores</a></li>

            <li class="ngreen"><a href="#/categories"><i class="icon-sitemap"></i> Categories</a></li>

            <li class="norange"><a ng-href="#/venues"><i class="icon-map-marker"></i> Venues</a></li>

            <li class="nviolet"><a ng-href="#/events"><i class="icon-calendar"></i> Events</a></li>
            <li class="nviolet"><a ng-href="#/tickets"><i class="icon-ticket"></i> Tickets</a></li>
            <li class="nviolet"><a ng-href="#/scanners"><i class="icon-qrcode"></i> Scanners</a></li>

            <!--<li class="nblue"><a href="#/reports"><i class="icon-tasks"></i> Reports</a></li>-->

            <!--<li class="nred"><a href="#/scanners"><i class="icon-barcode"></i> Scanners</a></li>-->


            <li class="nav_divider">&nbsp;</li>
            <li class="nav_divider">&nbsp;</li>

            <!-- SUPER USER -->

            <li class="nred"><a href="#/approvals"><i class="icon-thumbs-up"></i> Approvals</a></li>
            <li class="nviolet"><a href="#"><i class="icon-bar-chart"></i> Reports</a></li>
            <li class="nav_divider">&nbsp;</li>
            <li class="nav_divider">&nbsp;</li>

            <!-- REVVLY ADMIN -->

            <li class="norange"><a href="ui.html"><i class="icon-envelope"></i> Feedback</a></li>
            <li class="ngreen"><a href="charts.html"><i class="icon-book"></i> Logs</a></li>
        </ul>




        <!-- Date -->

        <div class="sidebar-widget">
            <div id="todaydate"></div>
        </div>



    </div>



<!-- Sidebar ends -->

        <script>
            /* Calendar */

//            $(document).ready(function () {
//
//                var date = new Date();
//                var d = date.getDate();
//                var m = date.getMonth();
//                var y = date.getFullYear();
//
//                $('#calendar').fullCalendar({
//                    header: {
//                        left: 'prev',
//                        center: 'title',
//                        right: 'month,agendaWeek,agendaDay,next'
//                    },
//                    editable: true,
//                    events: [
//                        {
//                            title: 'All Day Event',
//                            start: new Date(y, m, 1)
//                        },
//                        {
//                            title: 'Long Event',
//                            start: new Date(y, m, d - 5),
//                            end: new Date(y, m, d - 2)
//                        },
//                        {
//                            id: 999,
//                            title: 'Repeating Event',
//                            start: new Date(y, m, d - 3, 16, 0),
//                            allDay: false
//                        },
//                        {
//                            id: 999,
//                            title: 'Repeating Event',
//                            start: new Date(y, m, d + 4, 16, 0),
//                            allDay: false
//                        },
//                        {
//                            title: 'Meeting',
//                            start: new Date(y, m, d, 10, 30),
//                            allDay: false
//                        },
//                        {
//                            title: 'Lunch',
//                            start: new Date(y, m, d, 12, 0),
//                            end: new Date(y, m, d, 14, 0),
//                            allDay: false
//                        },
//                        {
//                            title: 'Birthday Party',
//                            start: new Date(y, m, d + 1, 19, 0),
//                            end: new Date(y, m, d + 1, 22, 30),
//                            allDay: false
//                        },
//                        {
//                            title: 'Click for Google',
//                            start: new Date(y, m, 28),
//                            end: new Date(y, m, 29),
//                            url: 'http://google.com/'
//                        }
//                    ]
//                });
//
//            });

            /* Navigation */

            $(document).ready(function(){

                $(window).resize(function()
                {
                    if($(window).width() >= 765){
                        $(".sidebar .sidebar-inner").slideDown(350);
                    }
                    else{
                        $(".sidebar .sidebar-inner").slideUp(350);
                    }
                });

            });

            $(document).ready(function(){

                $(".has_submenu > a").click(function(e){
                    e.preventDefault();
                    var menu_li = $(this).parent("li");
                    var menu_ul = $(this).next("ul");

                    if(menu_li.hasClass("open")){
                        menu_ul.slideUp(350);
                        menu_li.removeClass("open")
                    }
                    else{
                        $(".navi > li > ul").slideUp(350);
                        $(".navi > li").removeClass("open");
                        menu_ul.slideDown(350);
                        menu_li.addClass("open");
                    }
                });

            });

            $(document).ready(function(){
                $(".sidebar-dropdown a").on('click',function(e){
                    e.preventDefault();

                    if(!$(this).hasClass("dropy")) {
                        // hide any open menus and remove all other classes
                        $(".sidebar .sidebar-inner").slideUp(350);
                        $(".sidebar-dropdown a").removeClass("dropy");

                        // open our new menu and add the dropy class
                        $(".sidebar .sidebar-inner").slideDown(350);
                        $(this).addClass("dropy");
                    }

                    else if($(this).hasClass("dropy")) {
                        $(this).removeClass("dropy");
                        $(".sidebar .sidebar-inner").slideUp(350);
                    }
                });

            });
        </script>