@import 'bootstrap.less';
@import 'responsive.less';

@main-bg-color:transparent;

.container-fluid{
    padding:0;
    margin:0;
    overflow-x: hidden
}
.pad(@padding:.5em){
    padding:@padding;
}
.clear{
    display:block;clear:both;
}
body{
    background-color:@main-bg-color;
    .breadcrumb{
    	li.active a{text-decoration:none;color:inherit}
    }
    .atPanel{
    	.form{width:auto}
    	.socialicons{
    		margin-left:.5em;
			li a{cursor:pointer}
		}
		[class^="icon-"], [class*=" icon-"]{
			background-image: url("../components/bootstrap/img/glyphicons-halflings.png");
		}
		.modal{
			top:2%!important;
			.modal-body{max-height:none}
			.modal-agreement{max-height:350px}
		}
		atmodel{
			.well{width:95%}
		}
	}
}