<div ng-controller="adminController" ng-cloak>
    <!-- top menu -->
    <div class="navbar navbar-fixed-top navbar-inverse" ng-include src="'views/admin/common/top_menu.html'"></div>
    <div ng-include src="'views/elements/error.html'"></div>
    <!-- admin dashboard
    <div class="row-fluid" style="min-height: 5em"></div>-->
</div>

<div class="content">
    <!-- side menu -->
    <div class="sidebar" ng-include src="'views/admin/common/side_menu.html'"></div>

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">

            <div ng-include src="'views/admin/stores/page_content_partials/page_heading.html'"></div>
            <div ng-include src="'views/admin/stores/page_content_partials/breadcrumbs.html'"></div>

        </div>
        <!-- Page heading ends -->
        <!-- Matter -->

        <div class="matter" ui-if="DomainProfile && DomainProfile.Key || false">
            <div class="container-fluid">





                <div ng-include src="'views/admin/stores/page_content_partials/stores_list.html'"></div>
                <div ng-include src="'views/admin/stores/page_content_partials/create_edit_store_modal.html'"></div>


                <!--<div class="atPanel" ng-cloak ng-init="init()">-->
                    <!--&lt;!&ndash; top menu &ndash;&gt;-->

                    <!--&lt;!&ndash; store for visitors &ndash;&gt;-->
                    <!--<div ui-if="Store && Store.Key" class="row-fluid" ng-init="loadCurrencies()">-->
                        <!--<div class="btn-group pull-right">-->
                            <!--<button class="btn btn-info" ng-click="showInfo()">{{-->
                                <!--'Common.Text_Information' | t }}-->
                            <!--</button>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<p class="lead">{{ 'Common.Text_UpcomingEvents' | t }}</p>&ndash;&gt;-->
                        <!--&lt;!&ndash; events list&ndash;&gt;-->
                        <!--<div ng-include src="'views/eventList.html'"></div>-->

                        <!--&lt;!&ndash; store info&ndash;&gt;-->
                        <!--<div ng-include src="'views/storeInfo.html'"></div>-->
                    <!--</div>-->
                <!--</div>-->








            <!-- Mainbar ends -->
            <div class="clearfix"></div>
        </div>


    </div>
</div>
</div>