<div ng-controller="adminController" ng-cloak>
    <!-- top menu -->
    <div class="navbar navbar-fixed-top navbar-inverse" ng-include src="'views/admin/common/top_menu.html'"></div>
    <div ng-include src="'views/elements/error.html'"></div>
    <!-- admin dashboard
    <div class="row-fluid" style="min-height: 5em"></div>-->
</div>

<div class="content" ui-if="DomainProfile && DomainProfile.Key || false"
     ng-controller="venueController" ng-cloak>
    <!-- side menu -->
    <div class="sidebar" ng-include src="'views/admin/common/side_menu.html'"></div>

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">

            <div ng-include src="'views/admin/venues/page_content_partials/page_heading.html'"></div>
            <div ng-include src="'views/admin/venues/page_content_partials/breadcrumbs.html'"></div>

        </div>
        <!-- Page heading ends -->
        <!-- Matter -->

        <div class="matter">
            <div class="container-fluid" ng-cloak>
                <!-- no venues alert -->
                <!-- create venue button -->
                <div class="widget pull-right">
                    <button class="btn btn-info" ng-click="create()">{{
                        'Common.Text_CreateVenue' | t }}
                    </button>

                </div>
                <div class="clearfix"></div>

                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">{{
                        'Common.Text_Store' | t }} <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="store in stores"><a ng-href="#/venues" href="#/venues"
                                                           ng-click="setStoreKey(store.Key)" ng-model="Store"
                                                           ng-change="init()">{{store.Name}}</a></li>
                    </ul>
                </div>

                <div class="widget wviolet">

                    <div class="widget-head">
                        <div class="pull-left"> {{ 'Common.Text_Venue' | t}}</div>
                        <div class="clearfix"></div>
                    </div>

                    <div ng-include="'views/admin/venues/page_content_partials/create_edit_venue_modal.html'"></div>


                    <div class="widget-foot">

                        <div ng-controller="pagingController" class="pagination pull-right"
                             ui-if="(venues | filter:{StoreKey : Store.Key}).length > 10">
                            <ul>
                                <li><a href="#" ng-disabled="currentPage == 0"
                                       ng-click="currentPage=currentPage-1">Prev</a></li>
                                <!--<li><a href="#">1</a></li>-->
                                <!--<li><a href="#">2</a></li>-->
                                <!--<li><a href="#">3</a></li>-->
                                <!--<li><a href="#">4</a></li>-->
                                <li><a href="#" ng-disabled="currentPage >= venues.length/pageSize - 1"
                                       ng-click="currentPage=currentPage+1">Next</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>
        </div>

        <!-- Mainbar ends -->
        <div class="clearfix"></div>
    </div>


</div>


