<div ng-controller="adminController" ng-cloak>
    <!-- top menu -->
    <div class="navbar navbar-fixed-top navbar-inverse" ng-include src="'views/admin/common/top_menu.html'"></div>
    <div ng-include src="'views/elements/error.html'"></div>
    <!-- admin dashboard
    <div class="row-fluid" style="min-height: 5em"></div>-->
</div>


<div class="content">
    <!-- side menu -->
    <div class="sidebar" ng-include src="'views/admin/common/side_menu.html'"></div>

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Page heading -->
        <div class="page-head">

            <div ng-include src="'views/admin/media/page_content_partials/page_heading.html'"></div>
            <div ng-include src="'views/admin/media/page_content_partials/breadcrumbs.html'"></div>

        </div>
        <!-- Page heading ends -->
        <!-- Matter -->

        <div class="matter">
            <div class="container-fluid">

                <div ng-include src="'views/admin/media/page_content_partials/library.html'"></div>

            </div>
        </div>
    </div>
</div>