<dl class="clearfix">
	<dd>
		<label>{{'Address.LabelCountry' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Country" ng-model="this[model].Address.Country"
			ng-change="loadTimezonesByCountry(this[model].Address.Country);loadRegionsByCountry(this[model].Address.Country)">
			<option></option>
			<option ng-selected="c.ISO == this[model].Address.Country"
				ng-repeat="c in countries" value="{{c.ISO}}">{{c.Name}}</option>
		</select>
	</dd>
	<dd>
		<atfield at-required class="input-xxlarge"
			ng-model="this[model].Address.AddressLine1"
			label="'Address.LabelAddress1' | t" />
	</dd>
	<dd>
		<atfield class="input-xxlarge"
			ng-model="this[model].Address.AddressLine2"
			label="'Address.LabelAddress2' | t" />
	</dd>
	<dd class="pull-left">
		<atfield at-required class="input-small"
			ng-model="this[model].Address.PostalCode"
			label="'Address.LabelPostalCode' | t" />
	</dd>
	<dd class="pull-left" style="padding-top: 28px">
		<a class="btn btn-mini"
			ng-click="getCityByPostalCode(this[model].Address.Country, this[model].Address.PostalCode)"><i
			class="icon-search"></i></a>
	</dd>
	<dd class="clear">
		<atfield at-required class="input-xlarge"
			ng-model="this[model].Address.City" label="'Address.LabelCity' | t" />
	</dd>
	<dd
		ng-show="this[model].Address && this[model].Address.Country || false">
		<label>{{'Address.LabelState' | t}} /
			{{'Address.LabelProvince' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Region" ng-model="this[model].Address.Region">
			<option></option>
			<option ng-selected="r.ISO == this[model].Address.Region"
				ng-repeat="r in regions" value="{{r.ISO}}">{{r.Name}}</option>
		</select>
	</dd>
	<dd
		ng-show="this[model].Address && this[model].Address.Country || false">
		<label>{{'Address.LabelTimezone' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Timezone" ng-model="this[model].Address.Timezone">
			<option></option>
			<option ng-repeat="t in timezones" ng-value="t.Key">{{t.Name}}</option>
		</select>
	</dd>
</dl>