<dl class="clearfix">
	<dd>
		<label>{{'Address.LabelCountry' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" ng-required="true"
			ng-model="this[model].Address.Country"
			ng-change="loadTimezonesByCountry(this[model].Address.Country);loadRegionsByCountry(this[model].Address.Country)">
			<option></option>
			<option ng-selected="c.ISO == this[model].Address.Country"
				ng-repeat="c in countries" value="{{c.ISO}}">{{c.Name}}</option>
		</select>
	</dd>
	<dd>
		<atfield ng-required="true" class="input-xlarge"
			ng-model="this[model].Address.AddressLine1"
			label="'Address.LabelAddress1' | t" />
	</dd>
	<dd>
		<atfield class="input-xlarge"
			ng-model="this[model].Address.AddressLine2"
			label="'Address.LabelAddress2' | t" />
	</dd>
	<dd>
		<atfield ng-required class="input-small"
			ng-model="this[model].Address.PostalCode"
			label="'Address.LabelPostalCode' | t" />
	</dd>
	<dd
		ng-show="this[model].Address && this[model].Address.Country || false">
		<label>{{'Address.LabelState' | t}} /
			{{'Address.LabelProvince' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" ng-required="true"
			ng-model="this[model].Address.Region">
			<option></option>
			<option ng-selected="r.ISO == this[model].Address.Region"
				ng-repeat="r in regions" value="{{r.ISO}}">{{r.Name}}</option>
		</select>
	</dd>
	<dd
		ng-show="this[model].Address && this[model].Address.Country || false">
		<label>{{'Address.LabelTimezone' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" ng-required="true"
			ng-model="this[model].Address.Timezone">
			<option></option>
			<option ng-repeat="t in timezones" ng-value="t.Key">{{t.Name}}</option>
		</select>
	</dd>
</dl>