


        <li>
            <!-- Heading - h5 -->
            <h5><i class="icon-user"></i> Users</h5>
            <!-- Use hr tag to add border -->
            <hr />
        </li>
        <li>
            <!-- List item heading h6-->
            <a href="#">Ravi Kumar</a> <span class="label label-warning pull-right">Free</span>
            <div class="clearfix"></div>
            <hr />
        </li>
        <li>
            <a href="#">Balaji</a> <span class="label label-important pull-right">Premium</span>
            <div class="clearfix"></div>
            <hr />
        </li>
        <li>
            <a href="#">Kumarasamy</a> <span class="label label-warning pull-right">Free</span>
            <div class="clearfix"></div>
            <hr />
        </li>
        <li>
            <div class="drop-foot">
                <a href="#">View All</a>
            </div>
        </li>

