<ul class="breadcrumb">
	<li ng-class="{active: wizard.currentStep == 1}"><a
		href="#/admin/store"
		ng-click="wizard.currentStep = 1;wizard.finished = false">{{
			'Common.Text_CreateStore_Step1' | t }}</a> <span class="divider">/</span></li>
	<li ng-class="{active: wizard.currentStep == 2}"><a
		href="#/admin/store"
		ng-click="wizard.currentStep = 2;wizard.finished = false">{{
			'Common.Text_CreateStore_Step2' | t }}</a> <span class="divider">/</span></li>
	<li ng-class="{active: wizard.currentStep == 3}"><a
		href="#/admin/store"
		ng-click="wizard.currentStep = 3;wizard.finished = false">{{
			'Common.Text_CreateStore_Step3' | t }}</a> <span class="divider">/</span></li>
	<li ng-class="{active: wizard.currentStep == 4}"><a
		href="#/admin/store"
		ng-click="wizard.currentStep = 4;wizard.finished = false;wizard.saved = false">{{
			'Common.Text_Confirmation' | t }}</a> <span ng-show="wizard.saved"
		class="divider">/</span></li>
	<li ng-show="wizard.saved" ng-class="{active: wizard.saved}"><a
		href="#/admin/store" ng-click="wizard.finished = true">{{
			'Common.Text_Finished' | t }}</a></li>
</ul>