<div ng-controller="adminController" ng-cloak>
    <!-- top menu -->
    <div class="navbar navbar-fixed-top navbar-inverse" ng-include src="'views/admin/common/top_menu.html'"></div>
    <div ng-include src="'views/elements/error.html'"></div>
    <!-- admin dashboard
    <div class="row-fluid" style="min-height: 5em"></div>-->
</div>

<div class="content">
<!-- side menu -->
<div class="sidebar" ng-include src="'views/admin/common/side_menu.html'"></div>

<!-- Main bar -->
<div class="mainbar">
<!-- Page heading -->
<div class="page-head">
    <div ng-include src="'views/admin/stores/page_content_partials/page_heading.html'"></div>
    <div ng-include src="'views/admin/stores/page_content_partials/breadcrumbs.html'"></div>

</div>
<!-- Page heading ends -->
<!-- Matter -->

<div class="matter" ui-if="DomainProfile && DomainProfile.Key || false">
<div class="container-fluid">
<div class="atPanel" ui-if="DomainProfile && DomainProfile.Key || false"
     ng-controller="ticketController" ng-cloak>
<!-- top menu -->
<!--<div ng-include src="'views/elements/topMenu.html'"></div>-->
<!--<div ng-include src="'views/elements/error.html'"></div>-->
<!-- ticket info -->
<div ui-if="Store && Store.Key && events && events.length > 0 || false"
     class="row-fluid" ng-init="init()">
    <ul class="breadcrumb">
        <li><a
                ng-href="/#/{{Store.IsOwner && 'event' || 'store/' + storeURI}}">{{
            'Common.Text_EventMenu_Events' | t}}</a> <span class="divider">/</span></li>
        <li class="active">{{ Event.Name }}</li>
    </ul>

    <p class="lead pull-left">{{ 'Common.Text_TicketMenu_Tickets' |
        t}}</p>

    <div class="btn-group pull-right">
        <button ui-if="Store.IsOwner" class="btn btn-info"
                ng-click="create()">{{
            'Common.Text_TicketMenu_CreateTicket' | t }}
        </button>
    </div>
    <div id="formTicket" class="modal form hide fade">
        <div class="modal-header">
            <button type="button" ng-click="wizard.open = false" class="close"
                    data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{{ 'Common.Text_Ticket' | t}}</h3>
        </div>
        <div class="modal-body">
            <!-- messages -->
            <div ng-switch="wizard.currentStep">
                <div class="alert alert-info" ng-switch-when="2">
                    <strong>{{ 'Event.Text_DateInformation' | t }}</strong>
                </div>
                <div class="alert alert-info" ng-switch-when="3">
                    <strong>{{ 'Common.Text_QtyInformation' | t }}</strong>
                </div>
                <div class="alert alert-info" ng-switch-when="4">
                    <strong>{{ 'Common.Text_Confirm' | t }}</strong>
                </div>
            </div>
            <div class="alert alert-success"
                 ui-if="wizard.saved && wizard.finished">
                <strong>{{ 'Common.Text_Congrats' | t }}</strong> {{
                'Common.Text_WizardComplete' | t }}
            </div>

            <!-- form -->
            <ng-form ui-if="GeneralAdmissionTicketItemInfo" name="atTicket"
                     ng-submit="save()">
                <form ui-if="wizard.currentStep == 1" name="atTicket1"
                      ng-submit="wizard.next('atTicket1')">
                    <dl class="clearfix">
                        <dd>
                            <atfield at-required class="input-xxlarge"
                                     ng-model="GeneralAdmissionTicketItemInfo.Name"
                                     label="'Common.Text_TicketName' | t"/>
                        </dd>
                        <dd>
                            <atfield class="input-xxlarge"
                                     ng-model="GeneralAdmissionTicketItemInfo.Policy"
                                     label="'Common.Text_Policy' | t" rows="5"/>
                        </dd>
                        <dd>
                            <input type="submit" class="btn btn-primary clear"
                                   value="{{
							'Common.Text_Next' | t }}"/>
                        </dd>
                    </dl>
                </form>
                <form ui-if="wizard.currentStep == 2" name="atTicket2"
                      ng-submit="wizard.next('atTicket2')">
                    <dl>
                        <dd class="pull-left">
                            <atfield at-required class="input-large"
                                     ng-model="GeneralAdmissionTicketItemInfo.OnSaleDateTimeStart"
                                     label="'Common.LabelGeneralAdmissionTicketItemInfoOnSaleDateTimeStart' | t"/>
                        </dd>
                        <dd class="pull-left">
                            <atfield at-required class="input-large"
                                     ng-model="GeneralAdmissionTicketItemInfo.OnSaleDateTimeEnd"
                                     label="'Common.LabelGeneralAdmissionTicketItemInfoOnSaleDateTimeEnd' | t"/>
                        </dd>
                        <dd class="clear"></dd>
                        <dd class="pull-left">
                            <a ng-show="wizard.currentStep>1"
                               ng-click="wizard.currentStep = wizard.currentStep-1"
                               class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
                        </dd>
                        <dd class="pull-left">
                            <input type="submit" class="btn btn-primary clear"
                                   value="{{
		 							'Common.Text_Next' | t }}"/>
                        </dd>
                    </dl>
                </form>
                <form ng-show="wizard.currentStep == 3" name="atTicket3"
                      ng-submit="wizard.next('atTicket3')">
                    <dl class="clearfix">
                        <dd class="clear">
                            <atfield class="input-small"
                                     ng-model="GeneralAdmissionTicketItemInfo.MaxPurchaseQuantity"
                                     at-required ng-pattern="/^\d+$/"
                                     tip="'Common.Text_TipMaxAllowed' | t"/>
                        </dd>
                        <dd class="clear">
                            <label>{{'Common.LabelGeneralAdmissionTicketItemInfoStock'
                                | t}} </label>
                            <small class="muted">{{ 'Common.Text_Inventory' |
                                t }}: {{GeneralAdmissionTicketItemInfo.NumberTotal}}
                            </small>
                            &nbsp;
                            <small
                                    class="muted">{{ 'Common.Text_Add' | t }}:
                                {{GeneralAdmissionTicketItemInfo.Stock}}
                            </small>
                            &nbsp;
                            <small
                                    class="muted">{{ 'Common.Text_Total' | t }}: <b>{{GeneralAdmissionTicketItemInfo.Stock
                                + GeneralAdmissionTicketItemInfo.NumberTotal}}</b></small>
                            <div ui-jq="slider"
                                 ui-options="{slide: updateItemStock, step: 25, value:0, max: 500}"></div>
                        </dd>
                        <dd class="clear">
                            <atfield class="input-small"
                                     ng-model="GeneralAdmissionTicketItemInfo.Price.ItemPrice"
                                     at-required ng-pattern="/^[\d\.\,]+$/"/>
                        </dd>
                        <dd class="clear"></dd>
                        <dd class="pull-left">
                            <a ng-show="wizard.currentStep>1"
                               ng-click="wizard.currentStep = wizard.currentStep-1"
                               class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
                        </dd>
                        <dd class="pull-left">
                            <input type="submit" class="btn btn-primary clear"
                                   value="{{
		 							'Common.Text_Next' | t }}"/>
                        </dd>
                    </dl>
                </form>
                <form ui-if="wizard.currentStep == 4 && !wizard.saved"
                      name="atTicket3" ng-submit="wizard.next('atTicket4', true)">
                    <dl>
                        <dd class="clear row-fluid">
                            <!-- ticket details -->
                            <atmodel ui-if="GeneralAdmissionTicketItemInfo"
                                     ng-model="GeneralAdmissionTicketItemInfo"
                                     at-hide="['NumberTotal']"></atmodel>
                        </dd>
                        <dd class="pull-left">
                            <a ng-show="wizard.currentStep>1"
                               ng-click="wizard.currentStep = wizard.currentStep-1"
                               class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
                        </dd>
                        <dd class="pull-left">
                            <input type="submit" class="btn btn-success clear"
                                   value="{{
		 							'Common.Text_Save' | t }}"/>
                        </dd>
                    </dl>
                </form>
                <dl ui-if="wizard.finished" class="clearfix">
                    <dd class="pull-left">
                        <a ng-show="wizard.currentStep>1 && wizard.saved"
                           ng-click="wizard.currentStep = wizard.currentStep-2; wizard.finished = false; wizard.saved = false"
                           class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
                    </dd>
                    <dd class="pull-left">
                        <a ng-show="wizard.currentStep>1 && wizard.saved"
                           data-dismiss="modal" ng-click="wizard.open = false"
                           class="btn btn-primary clear">{{ 'Common.Text_Close' | t }}</a>
                    </dd>
                </dl>
            </ng-form>
        </div>
        <div class="modal-footer"></div>
    </div>
    <div class="clear row-fluid list">
        <div ng-show="tickets.length == 0" class="alert alert-info">{{
            'Common.Text_TicketEmpty' | t }}
        </div>
        <!-- ticket list -->
        <ul class="thumbnails" ui-if="tickets.length>0">
            <li ng-repeat="ticket in tickets | filter:filterByEvent"
                class="span4">
                <div class="thumbnail">
                    <h4 class="pull-left">{{ticket.Name}}</h4>

                    <div class="btn-group pull-right">
                        <button ui-if="Store.IsOwner" class="btn btn-mini btn-success"
                                ng-click="update(ticket)">{{ 'Common.Text_Update' | t
                            }}
                        </button>
                        <button ng-controller="cartController" ui-if="!Store.IsOwner"
                                class="btn btn-mini btn-success" ng-click="addToCart(ticket)">
                            <i style="margin-top: 3px" class="icon-ok pull-left"
                               ui-if="ticket.added && ticket.added == true" ui-jq="fadeOut"
                               ui-options="{duration: 1000, complete:evAddItem(ticket)}"></i>{{
                            'ShoppingCart.labelAddToCart' | t }}
                        </button>
                        <button ui-if="Store.IsOwner" ng-click="deleteTicket(ticket)"
                                class="btn btn-mini btn-danger">{{ 'Common.Text_Remove'
                            | t }}
                        </button>
                    </div>
                    <p class="text clear">{{ticket.Policy}}</p>
						<span class="label label-inverse">Sales Start on {{
							ticket.OnSaleDateTimeStart | date:'MM/dd/yyyy @ h:mma' }}</span> <span
                        class="label label-inverse">Sales End on {{
							ticket.OnSaleDateTimeEnd | date:'MM/dd/yyyy @ h:mma' }}</span> <span
                        class="pull-right label label-info">{{
							ticket.Price.ItemPrice | currency }}</span>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
</div>
</div>

<!-- Mainbar ends -->
<div class="clearfix"></div>
</div>
</div>