<dl class="clearfix" ng-controller="addressController"
	ng-init="loadContinents(); loadCountry(this[model].Address)">
	<dd
		ui-if="this[model].Address.Timezone || this[model].Address.City && timezones.length == 0 || false">
		<atfield at-required class="input-xxlarge"
			ng-model="this[model].Address.AddressLine1"
			label="'Address.LabelAddress1' | t" />
	</dd>
	<dd
		ui-if="this[model].Address.Timezone || this[model].Address.City && timezones.length == 0 || false">
		<atfield class="input-xxlarge"
			ng-model="this[model].Address.AddressLine2"
			label="'Address.LabelAddress2' | t" />
	</dd>
	<dd ui-if="this[model].Address.City && timezones.length > 0 || false">
		<label>{{'Address.LabelTimezone' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Timezone" ng-model="this[model].Address.Timezone"
			ng-change="a=1">
			<option></option>
			<option ng-selected="t.Name == this[model].Address.Timezone"
				ng-repeat="t in timezones" value="{{t.Name}}">{{t.Name}}</option>
		</select>
	</dd>
	<dd ui-if="this[model].Address.Region || false" class="clear">
		<atfield at-required class="input-xlarge"
			ng-model="this[model].Address.City" label="'Address.LabelCity' | t" />
	</dd>
	<dd class="clear"
		ui-if="regions.length > 0 && this[model].Address.Country || false">
		<label>{{'Address.LabelState' | t}} /
			{{'Address.LabelProvince' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Region" ng-model="this[model].Address.Region">
			<option></option>
			<option ng-selected="r.ISO == this[model].Address.Region"
				ng-repeat="r in regions" value="{{r.ISO}}">{{r.Name}}</option>
		</select>
	</dd>
	<dd ui-if="Country && Country.HasPostalCodes || false"
		class="pull-left">
		<atfield at-required class="input-small"
			ng-model="this[model].Address.PostalCode"
			label="'Address.LabelPostalCode' | t" />
	</dd>
	<dd ui-if="Country && Country.HasPostalCodes || false"
		class="pull-left" style="padding-top: 28px">
		<a class="btn btn-mini"
			ng-click="getCityByPostalCode(this[model].Address)"><i
			class="icon-search"></i></a>
	</dd>
	<dd class="clear" ui-if="countries.length > 0">
		<label>{{'Address.LabelCountry' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Country" ng-model="this[model].Address.Country"
			ng-change="loadCountry(this[model].Address)">
			<option></option>
			<option ng-selected="c.ISO == this[model].Address.Country"
				ng-repeat="c in countries" value="{{c.ISO}}">{{c.Name}}</option>
		</select>
	</dd>
	<dd class="clear">
		<label>{{'Address.LabelContinent' | t}}</label> <select
			data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
			ui-select2="{containerCssClass:'input-xlarge'}" at-required
			name="Address_Continent"
			ng-model="this[model].Address.tmpContinentIso"
			ng-change="loadCountriesByContinent(this[model].Address, true)">
			<option></option>
			<option ng-selected="cc.ISO == this[model].Address.tmpContinentIso"
				ng-repeat="cc in continents" value="{{cc.ISO}}">{{cc.Name}}</option>
		</select>
	</dd>
</dl>