<div ng-controller="adminController" ng-cloak>
    <!-- top menu -->
    <div class="navbar navbar-fixed-top navbar-inverse" ng-include src="'views/admin/partials/topMenu.html'"></div>
    <div ng-include src="'views/elements/error.html'"></div>
    <!-- admin dashboard
    <div class="row-fluid" style="min-height: 5em"></div>-->
</div>


<div class="content">
    <div class="mainbar">
    <div class="matter">
    <div class="container-fluid">
	<div ng-hide="DomainProfile.Key || false" class="clearfix">
		<div class="alert alert-error" ng-show="loginErr || false">{{loginErr}}</div>
		<h4>{{ 'Login.Page_Title' | t }}</h4>
		<!-- provider login -->
		<div class="row-fluid" ng-init="loadAuthProviders()">
			<div class="span6">
				<p>{{ 'Login.Page_Desc' | t }}</p>
				<ul class="socialicons color">
					<li ng-repeat="provider in authProviders"><a
						ng-class="provider | lowercase" ng-click="login(provider)">{{ provider }}</a></li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	</div>
	</div>
</div>
