<div class="atPanel" ui-if="DomainProfile && DomainProfile.Key || false"
	ng-controller="eventController" ng-cloak>
	<!-- top menu -->
	<div ng-include src="'views/elements/topMenu.html'"></div>
	<div ng-include src="'views/elements/error.html'"></div>
	<!-- event info -->
	<div ui-if="Store && Store.Key && venues && venues.length > 0 || false"
		class="row-fluid">
		<p class="lead pull-left">{{ 'Common.Text_EventMenu_Events' | t}}</p>
		<div class="btn-group pull-right">
			<button class="btn btn-info" ng-click="create()">{{
				'Common.Text_EventMenu_CreateEvent' | t }}</button>
		</div>
		<div id="formEvent" class="modal form hide fade">
			<div class="modal-header">
				<button type="button" ng-click="wizard.open = false" class="close"
					data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3>
					<p class="text-info">{{ 'Common.Text_Event' | t}}</p>
				</h3>
			</div>
			<div class="modal-body">
				<!-- messages -->
				<div ng-switch="wizard.currentStep">
					<div class="alert alert-info" ng-switch-when="2">
						<strong>{{ 'Event.Text_DateInformation' | t }}</strong>
					</div>
					<div class="alert alert-info" ng-switch-when="3">
						<strong>{{ 'Event.Text_PlaceInformation' | t }}</strong>
					</div>
					<div class="alert alert-info" ng-switch-when="4">
						<strong>{{ 'Common.Text_Confirm' | t }}</strong>
					</div>
				</div>
				<div class="alert alert-success"
					ui-if="wizard.saved && wizard.finished">
					<strong>{{ 'Common.Text_Congrats' | t }}</strong> {{
					'Common.Text_WizardComplete' | t }}
				</div>

				<!-- form -->
				<ng-form ui-if="Event" name="atEvent" ng-submit="save()">
				<form ui-if="wizard.currentStep == 1" name="atEvent1"
					ng-submit="wizard.next('atEvent1')">
					<dl class="clearfix">
						<dd>
							<atfield at-required class="input-xxlarge" ng-model="Event.Name"
								label="'Common.Text_EventName' | t" />
						</dd>
						<dd>
							<atfield class="input-xxlarge" ng-model="Event.Description"
								label="'Common.Text_Description' | t" rows="5" />
						</dd>
						<dd>
							<input type="submit" class="btn btn-primary clear"
								value="{{
							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<form ui-if="wizard.currentStep == 2" name="atEvent2"
					ng-submit="wizard.next('atEvent2')">
					<dl>
						<dd class="pull-left">
							<atfield at-required class="input-large"
								ng-model="Event.StartTime" label="'Event.Text_EventStartAt' | t" />
						</dd>
						<dd class="pull-left">
							<atfield at-required class="input-large" ng-model="Event.EndTime"
								label="'Event.Text_EventEndAt' | t" />
						</dd>
						<dd class="clear"></dd>
						<dd class="pull-left">
							<atfield at-required class="input-large"
								ng-model="Event.OnSaleDateTimeStart"
								label="'Event.Text_SaleStartAt' | t" />
						</dd>
						<dd class="pull-left">
							<atfield at-required class="input-large"
								ng-model="Event.OnSaleDateTimeEnd"
								label="'Event.Text_SaleEndAt' | t" />
						</dd>
						<dd class="clear"></dd>
						<dd class="pull-left">
							<a ng-show="wizard.currentStep>1"
								ng-click="wizard.currentStep = wizard.currentStep-1"
								class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
						</dd>
						<dd class="pull-left">
							<input type="submit" class="btn btn-primary clear"
								value="{{
		 							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<form ng-show="wizard.currentStep == 3" name="atEvent3"
					ng-submit="wizard.next('atEvent3')">
					<dl class="clearfix">
						<dd>
							<label>{{ 'Common.Text_Venue' | t}}</label>
							<!-- @todo make this part of the atfield directive -->
							<input type="text" ui-if="Event._tmpVenues"
								data-placeholder="{{ 'Common.Text_ChooseOption' | t}}"
								ui-select2="optsSelVenue" at-required ng-model="Event.tmpVenues"
								name="Event_tmpVenues" />
						</dd>
						<dd class="clear">
							<atfield class="input-small" ng-model="Event.MaximumCapacity"
								at-required />
						</dd>
						<dd class="clear"></dd>
						<dd class="pull-left">
							<a ng-show="wizard.currentStep>1"
								ng-click="wizard.currentStep = wizard.currentStep-1"
								class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
						</dd>
						<dd class="pull-left">
							<input type="submit" class="btn btn-primary clear"
								value="{{
		 							'Common.Text_Next' | t }}" />
						</dd>
					</dl>
				</form>
				<form ui-if="wizard.currentStep == 4 && !wizard.saved"
					name="atEvent3" ng-submit="wizard.next('atEvent4', true)">
					<dl>
						<dd class="clear row-fluid">
							<!-- event details -->
							<atmodel ui-if="Event && Event._tmpVenues" ng-model="Event"></atmodel>
						</dd>
						<dd class="pull-left">
							<a ng-show="wizard.currentStep>1"
								ng-click="wizard.currentStep = wizard.currentStep-1"
								class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
						</dd>
						<dd class="pull-left">
							<input type="submit" class="btn btn-success clear"
								value="{{
		 							'Common.Text_Save' | t }}" />
						</dd>
					</dl>
				</form>
				<dl ui-if="wizard.finished" class="clearfix">
					<dd class="pull-left">
						<a ng-show="wizard.currentStep>1 && wizard.saved"
							ng-click="wizard.currentStep = wizard.currentStep-2; wizard.finished = false; wizard.saved = false"
							class="btn btn-primary clear">{{ 'Common.Text_Back' | t }}</a>
					</dd>
					<dd class="pull-left">
						<a ng-show="wizard.currentStep>1 && wizard.saved"
							data-dismiss="modal" ng-click="wizard.open = false"
							class="btn btn-primary clear">{{ 'Common.Text_Close' | t }}</a>
					</dd>
				</dl>
				</ng-form>
			</div>
			<div class="modal-footer"></div>
		</div>
		<div class="clear row-fluid list">
			<div ng-show="events.length == 0" class="alert alert-info">{{
				'Event.Text_NoEvent_Msg' | t }}</div>
			<!-- event list -->
			<ul class="thumbnails" ng-show="events.length > 0">
				<li ng-repeat="event in events" class="span3">
					<div class="thumbnail">
						<h4 class="pull-left">{{event.Name}}</h4>
						<div class="btn-group pull-right">
							<button class="btn btn-mini btn-success" ng-click="update(event)">{{
								'Common.Text_Update' | t }}</button>
							<a ng-href="/#/admin/ticket/{{event.Key}}"
								class="btn btn-mini btn-warning">{{ 'Common.Text_Tickets' |
								t }} </a>
							<button ng-click="deleteEvent(event)"
								class="btn btn-mini btn-danger">{{ 'Common.Text_Remove'
								| t }}</button>
						</div>
						<p class="text clear">{{event.Description}}</p>
						<span class="label">Starts on {{ event.StartTime |
							date:'MM/dd/yyyy @ h:mma' }}</span> <span class="label">Ends on
							{{ event.EndTime | date:'MM/dd/yyyy @ h:mma' }}</span><br /> <span
							class="label label-inverse">Sales Start on {{
							event.OnSaleDateTimeStart | date:'MM/dd/yyyy @ h:mma' }}</span> <span
							class="label label-inverse">Sales End on {{
							event.OnSaleDateTimeEnd | date:'MM/dd/yyyy @ h:mma' }}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
