<div class="atPanel" ui-if="Store && Store.Key || false"
	ng-controller="orderController" ng-cloak>
	<!-- top menu -->
	<div ng-include src="'views/elements/topMenu.html'"></div>
	<div ng-include src="'views/elements/error.html'"></div>
	<!-- order info -->
	<div class="clear row-fluid list">
		<div ng-show="orders.length == 0" class="alert alert-info">{{
			'Order.Text_OrderEmpty' | t }}</div>
		<!-- order list -->
		<ul class="thumbnails" ng-show="orders.length > 0">
			<li ng-repeat="order in orders" class="span3">
				<div class="thumbnail">
					<h4 class="pull-left">{{order.Name}}</h4>
					<div class="btn-group pull-right">
						<button class="btn btn-mini btn-success" ng-click="update(order)">{{
							'Common.Text_Update' | t }}</button>
						<button ng-click="deleteOrder(order)"
							class="btn btn-mini btn-danger">{{ 'Common.Text_Remove'
							| t }}</button>
					</div>
					<p class="text clear">{{order.Description}}</p>
					<span class="label">Starts on {{ order.StartTime |
						date:'MM/dd/yyyy @ h:mma' }}</span> <span class="label">Ends on {{
						order.EndTime | date:'MM/dd/yyyy @ h:mma' }}</span><br /> <span
						class="label label-inverse">Sales Start on {{
						order.OnSaleDateTimeStart | date:'MM/dd/yyyy @ h:mma' }}</span> <span
						class="label label-inverse">Sales End on {{
						order.OnSaleDateTimeEnd | date:'MM/dd/yyyy @ h:mma' }}</span>
				</div>
			</li>
		</ul>
	</div>
</div>
