<div class="atPanel" ng-cloak ng-init="init()">
	<!-- top menu -->
	<div ng-include src="'views/elements/topMenu.html'"></div>
	<div ng-include src="'views/elements/error.html'"></div>
	<!-- store for visitors -->
	<div ui-if="Store && !Store.IsOwner && !Store.isNew" class="row-fluid"
		ng-init="loadCurrencies()">
		<!-- location info (will fetch geo related stuff) -->
		<div ng-show="
		false" ng-include src="'views/address.html'"
			onload="modelName='Store'"></div>
		<atmodel
			ui-if="geo.getLoadedCountries() != null && geo.getLoadedRegions() != null && currencies.length > 0"
			ng-model="Store" extra1="geo" extra2="currencies"></atmodel>
	</div>
</div>