<div class="atPanel" ng-cloak ng-init="init()">
	<!-- top menu -->
	<!--<div ng-include src="'views/elements/topMenu.html'"></div>-->
	<div ng-include src="'views/elements/error.html'"></div>
	<!-- store for visitors -->
	<div ui-if="Store && Store.Key" class="row-fluid"
		ng-init="loadCurrencies()">
		<div class="btn-group pull-right">
			<button class="btn btn-info" ng-click="showInfo()">{{
				'Common.Text_Information' | t }}</button>
		</div>
		<p class="lead">{{ 'Common.Text_UpcomingEvents' | t }}</p>
		<!-- events list -->
		<div ng-include src="'views/eventList.html'"></div>

		<!-- store info -->
		<div ng-include src="'views/storeInfo.html'"></div>
	</div>
</div>